In [15]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [16]:
file_path = "Metadata_Country_API_SP.POP.TOTL_DS2_en_csv_v2_9949.csv"
data = pd.read_csv(file_path)

In [17]:
print(data.head())
print(data.columns)

  Country Code                     Region          IncomeGroup  \
0          ABW  Latin America & Caribbean          High income
1          AFE                        NaN                  NaN
2          AFG                 South Asia           Low income
3          AFW                        NaN                  NaN
4          AGO         Sub-Saharan Africa  Lower middle income

                                        SpecialNotes  \
0                                                NaN
1  26 countries, stretching from the Red Sea in t...
2  The reporting period for national accounts dat...
3  22 countries, stretching from the westernmost ...
4  The World Bank systematically assesses the app...

                     TableName  Unnamed: 5
0                        Aruba         NaN
1  Africa Eastern and Southern         NaN
2                  Afghanistan         NaN
3   Africa Western and Central         NaN
4                       Angola         NaN
Index(['Country Code', 'Region', 'IncomeGroup', 'SpecialNotes', 'TableName',
       'Unnamed: 5'],
      dtype='object')

In [ ]:
plt.figure(figsize=(10,6))
sns.histplot(data=data,x='IncomeGroup',bins=20, kde =True)
plt.title('Distribution of Income Group')
plt.xlabel('Income Group')
plt.ylabel('Frequency')
plt.show()

In [ ]:
plt.figure(figsize=(10,16))
sns.histplot(data=data, x='Region', bins=20, kde=True)
plt.title('Distribution of Countries')
plt.ylabel('country')
plt.ylabel('count')
plt.xticks(rotation=45)
plt.show()